{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		{% include 'top-links.html' %}
		<title>Dictionary of Quaker Biography</title>
	</head>
	<body>
		<header>
			{% include 'header.html' %}
    	</header>
    	
    	<div id = "main-content">

          
            <div type= "list" class = "row"> 
               <h2 class = "text-center">Index</h2>
                	<ul>
					Profiles to be revised:
		 			{% for i in index %}
    					<li><a href="{{ i }}">Page for person {{ i }}</a></li>
					{% endfor %}
					</ul>
					<ul>
					Completed Person Profiles:
		 			{% for i in people %}
    					<li><a href="{{ i }}">Page for person {{ i }}</a></li>
					{% endfor %}
					</ul>
              </div>
            </div>
    	{% include 'footer.html' %}
	</body>
</html>